@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import './components';
@import './views';

body {
  background-color: #845A6D;
  color: #022F40;
  text-align: center;
  margin-top: 100px;
}

.hide {
  display: none;
}

#app {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  margin-top: 50px;
  width: 90%;
}
